/* some global css styles for html we get from blizzard */
.d3-color-yellow { color: #f8de07 !important; }
.d3-color-red { color: #b7070d !important; }
.d3-color-blue { color: #6969ff !important; }
.d3-color-orange { color: #bf642f !important; }
.d3-color-green { color: #01d701 !important; }
.d3-color-gold { color: #c0b377 !important; }

.d3-icon-rune-medium span {
  width: 42px;
  height: 42px;
  background-image: inline-image('rune-icons.png');
  float: left;
  margin: 0px 5px 5px 0;
}
.d3-icon-rune-medium .rune-a { background-position: 0 0; }
.d3-icon-rune-medium .rune-b { background-position: -42px 0; }
.d3-icon-rune-medium .rune-c { background-position: -84px 0; }
.d3-icon-rune-medium .rune-d { background-position: -126px 0; }
.d3-icon-rune-medium .rune-e { background-position: -168px 0; }
.d3-icon-rune-medium .rune-none { background-position: -210px 0; }