.friends {
  .x-title {
    text-transform: uppercase;
    color: #F3E6D0;
    font-size: 26px;
    border-bottom: 3px double #312A1E;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: 400;
    text-align: center;    
    width: 200px;
  }

  .friends-list-item {
    &.x-item-pressed {
      .x-list-item-label h3 {
        background: rgba(255, 255, 255, .05);
        color: lighten(#A9986D, 15);
      }
    }
    .x-list-item-label {
      h3 { 
        color: #A9986D;
        border-bottom: 1px solid #272218;
        padding: 15px 10px;
        margin: 0;
        font-size: 16px;
      }  
    }    
  }
}

.add-friend-modal {
  &.x-floating {
    @include border-radius(5px);
    box-shadow: none;
    background-image: none;
    background: none !important;
    padding: 20px;  
  }
  .x-body {
    background: none !important;
  }
  .battle-tag-input {
    text-align: center;
  }
  input {
    @include border-radius(5px);
    font-size: 20px;
    text-align: center;
    display: inline-block;
    border-radius:0.3em;
    border:1px solid #91897e;
    box-shadow:inset 0 0 4px rgba(25,0,0,0.4);
    padding:15px 5px;
    margin:5px 0;
    transition:all 0.3s ease-out;
    width:100%;
    color: #333;
    font-weight: 600;
    &.invalid {
      border: 3px solid #aa1711;
    }
    &[name=battleTag] {
      width: 60%;
      margin-right: 10px;
    }   
    &[name=battleTagNum] {
      width: 25%;
    }    
  }
  .loginBtn {
    width: 80%;
    margin: 0px auto;
    padding: 12px;    
  }
}