/* base */
.paragonLevel {
  color: #5789ff;
}

/* main hero */
.hero-overview-card div {
  height: 100%;
}

.hero-overview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 55%;
}

.hero-header {
  display: -webkit-box;
  -webkit-box-pack: justify;
}

.hero-header-name {
  text-align: left;
  font-size: 2.3em;
  text-shadow: 0px 4px #1E1B16;
  font-weight: 800;
  color: #eee;
}

.hero-header-level {
  text-align: right;
  font-size: 2em;
  color: #eee;
  .hero-header-paragon_level {
    color: #5789ff;
    padding-left: 5px;
  }
}

/* attributes */
.hero-attributes {
  .attributes-header {
    text-transform: uppercase;
    color: #f3e6d0;
    font-size: 1.75em;
    border-bottom: 3px double #312a1e;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: 400;
    text-align: center;
    .sub {
      text-transform: capitalize;
      font-size: .62em;
      color: #D4B473;
      margin-top: -8px;
    }
  }
  .stats-group {
    margin-bottom: 15px;
    border-bottom: 1px solid #272218;
    border-radius: 5px;    
  }
  .stats-row {
    display: -webkit-box;
    -webkit-box-pack: justify;  
    padding: 3px 10px;
  }
  .attribute-label {
    text-align: left;
    -webkit-box-flex: 1;
    color: #a9986d;
  }
  .attribute-value {
    font-size: 1.3em;
    text-align: right;
    -webkit-box-flex: 1;
    color: #f3e6d0;
  }
}

.base-stats {

}