/* base */
.paragonLevel {
  color: #5789ff;
}

.back-button {
  background-image: -webkit-linear-gradient(top, #4B4B4B, #422B1B) !important;
  border: radius;
  height: 20px !important;
  border-color: #2B1503 !important;
  padding: 4px 7px !important;  
}

.hero-name {
  position: relative;
  top: 3px;  
}

.levels {
  font-weight: 300;
  font-size: 18px;
  padding-left: 5px;
  position: relative;
  top: 3px;  
}

.class-icon {
  background-image: inline-image('hero-nav-portraits.jpg');
  background-size: 83px 165px;
  width: 41px;
  height: 33px;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  border-radius: 10px;  
  &.barbarian_0 { background-position: 0px 0px; }
  &.barbarian_1 { background-position: 41px 0; }

  &.demon-hunter_0 { background-position: 0px -33px; }
  &.demon-hunter_1 { background-position: 41px -33px; }

  &.witch-doctor_0 { background-position: 0px -99px; }
  &.witch-doctor_1 { background-position: 41px -99px; }  

  &.monk_0 { background-position: 0px -66px; }
  &.monk_1 { background-position: 41px -66px; }    

  &.wizard_0 { background-position: 0 -132px; }
  &.wizard_1 { background-position: 41px -132px; }  

}

.header {
  text-transform: uppercase;
  color: #f3e6d0;
  font-size: 25px;
  border-bottom: 3px double #312a1e;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-weight: 400;
  text-align: center;
  .sub {
    text-transform: capitalize;
    font-size: .62em;
    color: #D4B473;
    margin-top: -8px;
  }
}

//.x-scroll-view .x-innerhtml {
  //padding-bottom: 63px;
//}

/* main hero */
.heroes-container > div {
  height: 100%;
}

.heroes-container > div > div {
  height: 100%;
}

.hero-overview-card div {
  height: 100%;
}

.hero-overview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 65%;
  @media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    background-size: 80%;
  }
  &.tapped {
    opacity: .65;
  }
}

.hero-header {
  display: -webkit-box;
  -webkit-box-pack: justify;
  height: initial !important;
}

.hero-header-name {
  text-align: left;
  font-size: 1.65em;
  text-shadow: 0px 4px #1E1B16;
  font-weight: 800;
  color: #FFEAD4;
}

.hero-header-level {
  text-align: right;
  font-size: 1.65em;
  color: #d4b473;
  .hero-header-paragon_level {
    color: #5789ff;
    padding-left: 5px;
  }
}

.hero-header-hardcore {
  text-align: left;
  font-size: 1.25em;
  text-shadow: 0px 4px #1E1B16;
  color: #fe0000;
  &.dead {
    text-align: right;
  }
}


.hero-detail-card > div {
  height: 100%
}

.hero-detail-card > div > div {
  height: 100%
}
.hero-detail-header {
  height: auto !important;
}

.hero-back {
  -webkit-mask-image: theme_image($theme-name, "pictos/" + "delete_black2" + ".png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  background-color: #f3e6d0;
  width: 25px;
  height: 25px !important;
}
.hero-detail-back {
  //-webkit-mask-image: theme_image($theme-name, "pictos/" + "delete_black2" + ".png");
  //-webkit-mask-size: contain;
  //-webkit-mask-repeat: no-repeat;
  position: absolute;
  left: 10px;
  top: 10px;
  float: left;
}
.hero-overview-back {
  position: relative;
  margin-left: -10px;
  margin-right: 10px;
  left: 0px;
  top: 10px;
  float: left;
}
.stats-group {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #272218;
  &:last-child {
    border: none;
  }
}
.stats-row {
  display: -webkit-box;
  -webkit-box-pack: justify;  
  padding: 3px 10px;
  &.highlight {
  @include background-image(linear-gradient(top, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.025)));

  }
}
.last-updated {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  font-style: italic;
  font-size: 13px;  
}
.attribute-label {
  text-align: left;
  -webkit-box-flex: 1;
  color: #a9986d;
}
.attribute-value {
  font-weight: 600;
  text-align: right;
  -webkit-box-flex: 1;
  color: #f3e6d0;
  .change {
    font-size: 11px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
  }
}

/* items */
.sockets-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;        
  .sockets-align {
    display: table-cell;
    vertical-align: middle;
    width: 66px;
    height: 66px;
    .socket {
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      background-image: inline-image('socket.png');
      background-repeat: no-repeat;
      text-align: center;
      position: relative;
      left: 1px;            
      .gem {
        margin: 6px auto 0;
        width: 20px;
        height: 20px;              
      }
    }
  }
}

.hero-items {
  text-align: center;

  @media only screen and (max-width : 320px) and (max-height : 480px) {
    -webkit-transform: scale(.8);
    top: -46px;
    position: relative;
  }  

  // flourish
  .weapon-flourish {
    width: 128px;
    height: 166px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    &.main-hand-flourish {
      top: 283px;
      left: -21px;
    }
    &.off-hand-flourish {
      top: 283px;
      left: 175px;
      -webkit-transform: rotate(180deg);
    }    
    &.elemental-lightning { background-image: inline-image('flourish/lightning.png'); }
    &.elemental-cold { background-image: inline-image('flourish/cold.png'); }
    &.elemental-poison { background-image: inline-image('flourish/poison.png'); }
    &.elemental-holy { background-image: inline-image('flourish/holy.png'); }
    &.elemental-fire { background-image: inline-image('flourish/fire.png'); }
    &.elemental-arcane { background-image: inline-image('flourish/arcane.png'); }
  }



  .items-container {
    // background-image: inline-image('items-skeleton.png');
    margin: 0px auto;
    width: 286px;
    height: 438px;
    position: relative;

    .item {
      @include border-radius(5px);
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid white;
      z-index: 2;
      img { position: relative; }

      &.yellow { 
        border-color: #b1a73c; 
        @include background-image(inline-image('yellow.png'));
        &.tapped {
          border-color: lighten(#b1a73c, 25);
        }
      }
      &.blue {
        border-color: #6ba9ba;
        @include background-image(inline-image('blue.png'));
        &.tapped {
          border-color: lighten(#6ba9ba, 25);
        }
      }
      &.orange {
        border-color: #c29337;
        @include background-image(inline-image('orange.png'));
        &.tapped {
          border-color: lighten(#c29337, 25);
        }
       }
      &.green { 
        border-color: #87a73d; 
        @include background-image(inline-image('green.png'));
        &.tapped {
          border-color: lighten(#87a73d, 25);
        }
      }

      &.helm {
        top: 25px;
        left: 108px;
        width: 66px;
        height: 66px;
        .icon {
          top: -31px;
        }
      }      
      &.shoulders {
        top: 49px;
        left: 26px;
        width: 66px;
        height: 88px;
        .icon {
          top: -20px;
        }
      }
      &.neck {
        top: 69px;
        left: 192px;
        width: 55px;
        height: 56px;
        .icon {
          width: 52px;
          height: 52px;
          top: 1px;          
        }
      }
      &.chest {
        top: 95px;
        left: 100px;
        width: 82px;
        height: 115px;
        .sockets-align {
          width: 82px;
          height: 115px;
        }        
        .icon {
          top: -25px;          
        }
      }      
      &.hands {
        top: 148px;
        left: 0px;
        width: 66px;
        height: 88px;
        .icon {
          top: -20px;
        }
      }
      &.wrist {
        top: 148px;
        left: 216px;
        width: 66px;
        height: 88px;
        .icon {
          top: -20px;
        }
      }      
      &.ringL {
        top: 248px;
        left: 12px;
        width: 42px;
        height: 42px;
        .icon {
          top: -12px;
          left: -12px;          
        }
        .sockets-align {
          width: 66px;
          height: 44px;
        }
      }
      &.belt {
        top: 214px;
        left: 100px;
        width: 82px;
        height: 34px;
        .icon {
          top: -15px;
        }
      }  
      &.ringR {
        top: 248px;
        left: 228px;
        width: 42px;
        height: 42px;
        .sockets-align {
          width: 66px;
          height: 44px;
        }        
        .icon {
          top: -12px;
          left: -12px;          
        }
      }    
      &.legs {
        top: 252px;
        left: 108px;
        width: 66px;
        height: 88px;
        .icon {
          top: -20px;
        }
      }  
      &.feet {
        bottom: 5px;
        left: 108px;
        width: 66px;
        height: 89px;
        .icon {
          top: -20px;
        }        
      }     
      &.mainHand {
        bottom: 5px;
        left: 0px;
        width: 66px;
        height: 130px;
        .sockets-align {
          width: 66px;
          height: 130px;
        }       
      }  
      &.offHand {
        bottom: 5px;
        left: 216px;
        width: 66px;
        height: 130px;
        .sockets-align {
          width: 66px;
          height: 130px;
        }        
        &.repeat {
          opacity: .5;
        }
      }
    }
  }
}

/* skills */
.hero-skills {
  .skills {
    @media only screen and (max-width : 320px) and (max-height : 480px) {
      -webkit-transform: scale(.95);
    }
  }
  .actives {
    overflow: hidden;
    border-bottom: 1px solid #252018;
    @media only screen and (max-width : 320px) and (max-height : 480px) {
      border: none;
    }  
    .skill {
      position: relative;
      margin: 5px;
      float: left;
      width: 29%;
      min-height: 125px;
      text-align: center;
      img {
        &.tapped {
          opacity: .55;
        }
      }
      .mouse {
        background-image: inline-image('mouse-buttons.png');
        background-repeat: no-repeat;
        z-index: 5;
        left: 4px;
        top: -3px;
        width: 15px;
        height: 18px;
        position: absolute;
        text-indent: -999px;
        &.left {
          background-position: 0 0;
        }
        &.right {
          background-position: -15px 0;
        }        
      }
      .number { 
        z-index: 5;
        font-size: .65em;
        color: #ad835a;
        font-weight: 600;
        position: absolute;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: #2A130B;
        border: 1px solid #443523;
        padding: 0px 7px;
        left: 4px;
        top: -3px;
      }
      .name { font-size: .9em; color: #f3e6d0; font-weight: 600; line-height: 1.1; }
      .rune { font-size: .8em; color: #796d55; line-height: 14px; }
      .rune-icon {
        background-image: inline-image('rune-icons.png');
        background-repeat: no-repeat;
        width: 42px; 
        height: 42px;
        display: inline-block;
        position: absolute;
        left: 51px;
        top: 26px;
          &.a { background-position: 0 0; }
          &.b { background-position: -42px 0; }
          &.c { background-position: -84px 0; }
          &.d { background-position: -126px 0; }
          &.e { background-position: -168px 0; }
          &.none { background-position: -210px 0; }
      }
    }
  }
  .passives {
    overflow: hidden;
    margin-top: 10px;
    @media only screen and (max-width : 320px) and (max-height : 480px) {
      margin-top: -19px;
    } 
    .skill {
      margin: 5px;
      float: left;
      width: 29%;
      text-align: center;
      img {
        &.tapped {
          opacity: .55;
        }        
      }
      .name { font-size: .9em; color: #f3e6d0; font-weight: 600; line-height: 1.1; }
    }
  }
}