/* main hero */
.hero-overview-card div {
  height: 100%;
}

.hero-overview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 55%;
}

.hero-header {
  display: -webkit-box;
  -webkit-box-pack: justify;
}

.hero-header-name {
  text-align: left;
  font-size: 2.3em;
  text-shadow: 0px 4px #1E1B16;
  font-weight: 800;
  color: #eee;
}

.hero-header-level {
  text-align: right;
  font-size: 2em;
  color: #eee;
  .hero-header-paragon_level {
    color: #5789ff;
    padding-left: 5px;
  }
}

/* attributes */
.hero-attributes {
  .attributes-header {
    color: #c06500;
    font-size: 1.5em;   
    border-bottom: 3px double #2C2721;
    margin-bottom: 5px;     
    font-weight: 600;
  }
  .stats-row {
    display: -webkit-box;
    -webkit-box-pack: justify;  
    padding: 3px 10px;
    &:nth-child(even) {
      background: rgba(255, 255, 255, 0.05);
    }  
  }
  .attribute-label {
    text-align: left;
    -webkit-box-flex: 1;
    color: #eee;
  }
  .attribute-value {
    text-align: right;
    -webkit-box-flex: 1;
    color: #eee;
  }
}

.base-stats {

}