.login {
  background-image: inline-image('login.jpg') !important;
  background-color: black !important;
  background-size: 320px 480px;
  background-repeat: no-repeat;
  @media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      background-image: inline-image('login-iphone5.jpg') !important;
      background-size: 320px 568px;
  }

  .footer {
    text-align: center;
    margin-top: 25px;    
    .about-link {
      font-weight: 600;
      color: #ddebee;
    }
    .non-trademark {
      color: #565D61;
      font-style: italic;
    }
  }
  
  .loginBtn {
    width: 67%;
    margin: 0px auto;
    padding: 12px;
    font-size: 1.2em;
    text-transform: uppercase;      
  }  
  .login-container {
    .battle-tag-input {
      text-align: center;
    }
    // @include background(linear-gradient(left bottom, rgb(18, 17, 15), rgb(28, 24, 18)));
    h1 {
      color: #EEE;
      font-size: 1.9em;
      font-weight: 700;
      text-align: center;
      line-height: 30px;
    }
    color: #fefefe;
    margin-top: 175px;
    input, select {
      @include border-radius(5px);
      font-weight: 600;
      text-align: center;
      border-radius:0.3em;
      border:1px solid #91897e;
      box-shadow:inset 0 0 4px rgba(25,0,0,0.4);
      padding:7px;
      margin:5px 0;
      transition:all 0.3s ease-out;
      width:100%;
      color: #333;
      &.invalid {
        border: 3px solid #aa1711;
      }

      &[name=battleTag] {
        width: 45%;
        margin-right: 10px;
      }   
      &[name=battleTagNum] {
        width: 25%;
      }

      &[name="region"] {
        height: 34px;
        background-color: white;
        width: 73%;
      }
    }
    ::-webkit-input-placeholder {
       text-align: center;
       font-weight: 600;
    }

    :-moz-placeholder {  
       text-align: center;
       font-weight: 600;
    }    
  }
}

.about-text {
  .logo {
    background-image: inline-image('modus-about.png');
    background-repeat: no-repeat;
    background-size: 260px 32px;
    width: 260px;
    height: 32px;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  p {
    color: #B19B74;
    font-size: 16px;
  }
  a {
    color: #29929B;
    font-weight: 600;
    text-decoration: none;
  }
}

