.login {
  background-image: inline-image('diablo-3-logo.jpg') !important;
  background-color: black !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  .loginBtn {
    width: 67%;
    margin: 0px auto;
    padding: 12px;
    font-size: 1.2em;
    text-transform: uppercase;      
  }  
  .login-container {
    .battle-tag-input {
      text-align: center;
    }
    // @include background(linear-gradient(left bottom, rgb(18, 17, 15), rgb(28, 24, 18)));
    h1 {
      font-size: 2.1em;
      font-weight: 700;
      text-align: center;
    }
    color: #fefefe;
    margin-top: 200px;
    input {
      @include border-radius(5px);
      border-radius:0.3em;
      border:1px solid #91897e;
      box-shadow:inset 0 0 4px rgba(25,0,0,0.4);
      padding:7px;
      margin:5px 0;
      transition:all 0.3s ease-out;
      width:100%;
      

      color: #333;
      &[name=battleTag] {
        width: 45%;
        margin-right: 10px;
      }   
      &[name=battleTagNum] {
        width: 25%;
      }
    }
    ::-webkit-input-placeholder {
       text-align: center;
       font-weight: 600;
    }

    :-moz-placeholder {  
       text-align: center;
       font-weight: 600;
    }    
  }
}