.news {
  .x-title {
    text-transform: uppercase;
    color: #F3E6D0;
    font-size: 26px;
    border-bottom: 3px double #312A1E;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: 400;
    text-align: center;
    width: 200px;    
  }
}

.news-list-item {


  &.x-item-pressed {
    .x-list-item-label h3 {
      background: rgba(255, 255, 255, .05);
      color: lighten(#A9986D, 15);
    }
  }
  .x-list-item-label {
    h3 { 
      color: #A9986D;
      border-bottom: 1px solid #272218;
      padding: 15px 10px;
      margin: 0;
      font-size: 16px;
    }  
  }
}

.article-detail {
  .inner {
    padding: 15px;
  }
  .article-header {
    overflow: hidden;
  }
  .article-header-title {
    color: #f3e6d0;
    margin: 0;
    font-size: 22px;    
    font-weight: 600;
    float: left;
    padding-left: 45px;
    width: 100%;
  }
  .article-header-pub {
    color: #A9986D;
    float: left;
    padding-left: 45px;
  }
  .article-content {
    margin-top: 40px;
    clear: both;
    .fancyTitle {
      font-family: 'proxima-nova-condensed';
    }
    .sorTable {
      padding: 0; margin: 0;
      box-shadow: none;
      border: none;
    }
    // overwrite the shitty embedded content
    div {
      color: #f3e6d0;
    }
    img {
      max-width: 100%;
      height: auto !important;
    }
    h2, h3, h4, h5 {
      color: #eee;
      font-weight: 600;
      font-size: 24px;      
    }
    ul {
      margin-left: 20px;
    }
    li {
      list-style: disc;
      padding-bottom: 15px;
      color: #A9986D;
    }
    p {
      margin-bottom: 15px;
      color: #f3e6d0;
    }
    strong {
      font-weight: 600;
    }
    a {
      color: #01d701;
      text-decoration: none;
      border-bottom: 1px dotted rgb(86, 107, 86);
      margin-left: 4px;
    }
  }
  .article-footer {
    .article-source-btn {
      color: #01d701;
    }
  }
}