.skill-tooltip {
  min-height: 420px;
  width: 280px;
  @media only screen and (orientation : landscape) {
    height: 260px;
    width: 440px;
  }
  &.x-panel.x-floating, .x-msgbox.x-floating, .x-form.x-floating {
    background: none !important;
    padding: 0 !important;;
  }
  .x-body {
    background: #010101 !important;
    border: 2px solid #322A20 !important;;
  }
  .x-html {
    padding: 1.2em 1.2em;
  }  
  .tooltip-head {
    h3 { 
      text-align: center;
      text-transform: none;
      font-size: 1.7em;
      border-bottom: 3px double #322A20;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  .d3-item-properties {
    .item-armor-weapon {
      color: #878b83;
      li { list-style: none; }
    }
    .item-type {
      margin-bottom: 0;
      li { list-style: none; }
    }
    .item-extras {
      border-top: 1px solid #322A20;
      margin: 5px 0 0 0;
      padding: 5px 0 0 0;      
      .value { color: white; }
      .item-reqlevel {
        list-style: none;
        float: left; 
      }
      .item-ilvl {
        @extend .d3-color-gold;
        list-style: none;
        float: right;
        text-align: right;
      }
    }
    .big {
      font-size: 3.2em;
      line-height: 1.1;
      color: white;
      list-style-type: none;
    }
    li p { margin: 0; }
  }
  .d3-tooltip-rune {
    border-top: 2px solid #322A20;
    padding-top: 20px;    
  }
  .description {
    p { color: #c7b377; }
    .d3-color-green {
      font-weight: 600;
    }
    .special {
      color: #ad8332;
    }
    .subtle {
      color: #7b6d55;
      em {
        font-style: normal;
        color: #ad835a;
        font-weight: 600;
      }
    }
  }
}