$page-bg-color: #1a1914;
$sansSerif: 'Lato', sans-serif;

.d3-color-yellow { color: #f8de07 !important; }
.d3-color-red { color: #b7070d !important; }
.d3-color-blue { color: #6969ff !important; }
.d3-color-orange { color: #bf642f !important; }
.d3-color-green { color: #01d701 !important; }
.d3-color-gold { color: #c0b377 !important; }

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
// @include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
// @include sencha-list;
@include sencha-layout;
@include sencha-carousel;
// @include sencha-form;
// @include sencha-msgbox;
@include sencha-loading-spinner;

@include sencha-tabbar-ui('mainTabBar', #472a20, 'matte', #FFFFFF);
@include sencha-button-ui('loginButton', #333, 'matte');

@include pictos-iconmask(user);
@include pictos-iconmask(user_fave);
@include pictos-iconmask(user_add);
@include pictos-iconmask(user_remove2);

@import 'login';
@import 'hero';
@import 'friends';
@import 'news';
@import 'tooltip';
@import 'servers';

@mixin modus-pictos-iconmask($name) {
  .x-tab .x-button-icon.#{$name},
  .x-button .x-button-icon.x-icon-mask.#{$name} {
    -webkit-mask-image: theme_image('', '../../../../resources/images/pictos/' + $name + ".png");
  }
}

// include more pictos icons
@include modus-pictos-iconmask(d3-heroes);
@include modus-pictos-iconmask(d3-news);
@include modus-pictos-iconmask(d3-servers);
@include modus-pictos-iconmask(d3-logout);
@include modus-pictos-iconmask(d3-friends);
@include modus-pictos-iconmask(d3-back);



html, body {
  height: 100%;
  font-family: $sansSerif;
}

.x-carousel-indicator {
  background: rgba(0, 0, 0, .25);
}
.x-carousel-indicator-dark span.x-carousel-indicator-active {
  background-color: #f5e9d6;
}

.x-html {
  padding: .3em 1.2em; 
}

.x-msgbox-dark {
  background: none !important;
  .x-toolbar {
    background: none !important;
    .x-innerhtml {
      color: #f0e3cd;  
    }
  }
  .x-body {
    padding-bottom: 15px;
    background: none !important;
    color: #a9986d;
    font-size: 16px;    
  }
}

.x-title .x-innerhtml {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 .3em;
  font-size: 18px;
  position: relative;
  top: -5px;
}


.navBar {
  .x-tabbar {
    background-image: inline-image('nav-bg.png');
  }
  .x-button-label {
    font-size: 11px !important;
  }
  .x-tab-active {
    .x-button-label {
      color: #f3e6ac;
    }
    .x-button-icon {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(223, 198, 106)), to(rgb(196, 121, 20))) !important;
      background-image: -webkit-linear-gradient(top, rgb(223, 198, 106), rgb(196, 121, 20)) !important;;
    }
  }
}

// overall body background for pages
.x-container {
  background-color: #1c1812;
  @include background-image(linear-gradient(top, rgb(28, 24, 18), rgb(18, 17, 15)));
}

@mixin hero-bg-image($className) {
  .hero-overview-#{$className} {
    background-image: url('../images/classes/#{$className}.png')
  }
}

@include hero-bg-image('barbarian_0');
@include hero-bg-image('barbarian_1');
@include hero-bg-image('demon-hunter_0');
@include hero-bg-image('demon-hunter_1');
@include hero-bg-image('monk_0');
@include hero-bg-image('monk_1');
@include hero-bg-image('witch-doctor_0');
@include hero-bg-image('witch-doctor_1');
@include hero-bg-image('wizard_0');
@include hero-bg-image('wizard_1');

.flex1 {
  -webkit-box-flex: 1;
}