$page-bg-color: #1a1914;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
// @include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
// @include sencha-list;
@include sencha-layout;
// @include sencha-carousel;
// @include sencha-form;
// @include sencha-msgbox;

@include sencha-tabbar-ui('mainTabBar', #472a20, 'matte', #FFFFFF);

.navBar {
  .x-tabbar {
    background-image: url('../images/nav-bg.png');
  }
  .x-button-label {
    font-size: 11px !important;
  }
  .x-tab-active {
    @include background-image(linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)));
  }
}

// overall body background for pages
.x-layout-card-item {
  background: url('../images/page-bg.png') no-repeat;
}