/*
Syntax error: Invalid CSS after "    &.": expected class name, was "1 { background-..."
        on line 18 of /Users/dave/Sites/d3/resources/sass/_hero.scss
        from line 39 of /Users/dave/Sites/d3/resources/sass/app.scss

Backtrace:
/Users/dave/Sites/d3/resources/sass/_hero.scss:18
/Users/dave/Sites/d3/resources/sass/app.scss:39
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:1130:in `expected'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:1066:in `expected'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:1048:in `expr!'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:693:in `class_selector'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:660:in `simple_selector_sequence'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:623:in `_selector'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:602:in `selector'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:586:in `selector_sequence'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:511:in `ruleset'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `block in declaration_or_ruleset'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `call'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:536:in `block_child'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/scss/parser.rb:27:in `parse'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:342:in `_to_tree'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:274:in `to_tree'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:222:in `visit_import'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/rb-fsevent-0.9.1/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/bin/compass:23:in `load'
/Users/dave/.rvm/gems/ruby-1.9.3-p125/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    &.\": expected class name, was \"1 { background-...\"\A         on line 18 of /Users/dave/Sites/d3/resources/sass/_hero.scss\A         from line 39 of /Users/dave/Sites/d3/resources/sass/app.scss"; }
